# ==========================
# Environment Variables
# ==========================
.env
.env.local
.env.production
.env.development

# ==========================
# IDE
# ==========================
.idea/
.vscode/
*.iml

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Git
# ==========================
.git/